.myProjects {
	h1 {
		text-align: center;
		margin-top: 0px;
		margin-bottom: 30px;
		color: var(--text-color);
		font-weight: 900;
		span {
			color: var(--main-color);
		}
	}
}

.projects {
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	row-gap: 60px;
	gap: 30px;
	justify-content: center;
	@media (min-width: 700px) {
		grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	}
	div {
		position: relative;
		opacity: 0;
		width: 300px;
		aspect-ratio: 1.5/1;
		border-radius: 10px;
		overflow: hidden;
		@media (min-width: 700px) {
			width: 400px;
		}

		&:hover div {
			bottom: 0;
		}
		img {
			object-fit: cover;
			z-index: 1;
			position: absolute;
			width: 100%;
			height: 100%;
		}
		div {
			width: 100%;
			height: 92%;
			opacity: 1;
			position: absolute;
			bottom: -90%;
			left: 0;
			z-index: 2;
			border-radius: 10px;
			background-image: linear-gradient(
				to bottom,
				#029affe5 5%,
				#029affaa 55%,
				#029aff78 100%
			);
			padding: 20px;
			box-sizing: border-box;
			color: white;
			transition: all ease-in-out 0.5s;
			h4 {
				font-size: 20px;
				font-weight: 600;
			}
			p {
				max-width: 100%;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			a {
				color: var(--text-color);
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				font-size: 24px;
				position: absolute;
				bottom: 20px;
				left: 50%;
				padding: 5px;
				border-radius: 50%;
				background-color: var(--light-gray);
				transform: translateX(-50%);
				&:hover {
					opacity: 0.9;
				}
			}
			*.dark & {
				background-image: linear-gradient(
					to bottom,
					#07e6e6e4 5%,
					#01ffffc7 55%,
					#07e6e662 100%
				);
				a {
					background-color: var(--section-background);
				}
			}
		}
	}
}
